*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-banner{
    background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/AmazonKarigar/Saheli_store_banner.png);
    background-position: center;
    background-size:cover ;
}